body {
	color: white;
	font-family: 'Inconsolata', monospace, serif;
	font-size: 10pt;
	letter-spacing: -0.025em;
	line-height: 1em;
	/* Tentiamo di mettere l'immagine fullscreen*/
	background-image: url("pattern.jpg") ;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* anche su mobile */
	min-height: 100%;
	/* Questa e' la vera MAGIA! */
	background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #ccc;
}

.hide {
    display: none;
}

.veryfur {
    position: absolute;
    left: 69%;
    right: 0;
    z-index: 100;
    top: 34%;
    color: #ff00d1;
    font-size: 26px;
}

.muchblep {
    position: absolute;
    left: 46%;
    right: 0;
    z-index: 100;
    top: 84%;
    color: blue;
    font-size: 26px;
}

.sopattern {
    position: absolute;
    left: 9%;
    right: 0;
    z-index: 100;
    top: 49%;
    color: #00ff99;
    font-size: 26px;
}

.verydeveloper {
    position: absolute;
    left: 34%;
    right: 0;
    z-index: 100;
    top: 18%;
    color: #ff000f;
    font-size: 26px;
}

/* Doggo likes nice cookies */

.outer-cookie {
    position: fixed;
    left: auto;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    opacity: 1;
}

.inner-cookie {
    padding: 12px 12px;
    max-width: 300px;
    height: auto;
    background: #000;
    color: #ccc;
    font: 12px/1.2 'Inconsolata',monospace,serif;
    transition: height .4s;
    text-align: center;
}

.doge-close {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.doge-close::before, .doge-close::after {
    content: '';
    position: absolute;
    width: 60%;
    top: 40%;
    right: 30%;
    height: 1px;
    background: #888;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.doge-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* suggerimento Ale per BG su mobile */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }


.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
